<div class="w-full h-auto">
    <div class="bg-white dark:bg-gray-800">
        <div class="mx-auto max-w-2xl px-4 py-5 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8 xl:px-4 2xl:px-4">

            <h2 class="text-2xl my-3.5 dark:text-white">{{ 'businesses.BUSINESSES' | transloco }}</h2>

            <div class="my-6" ><app-shearching-bar [nameModel]="nameModel()" [showShearchingBar]="businessesList().length > 0"></app-shearching-bar></div>

            <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                @if (loading()) {
                    @for (item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]; track $index) {
                        <app-product-placeholder></app-product-placeholder>
                    }
                } @else {
                    @if(businessesList().length > 0) {
                        @for (business of businessesList(); track business.id) {
                            <app-business  [business]="business" ></app-business>
                        }
                    } @else {
                        <div class="col-span-full h-36 xl:h-40 2xl:h-48 text-center mt-2 xl:mt-12 2xl:mt-16">
                            <p class="w-full text-lg text-gray-500 dark:text-gray-400">{{ 'businesses.NO_BUSINESSES_FOUND' | transloco }}</p>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="w-full flex items-center justify-center my-4">
            <app-pagination (pageChange)="onPageChange($event)" [sizeComponent]="settings().sizeComponent" [totalPages]="settings().totalPages" [currentPage]="settings().currentPage" ></app-pagination>
        </div>
    </div>
</div>

