<div class="w-full h-auto">
    <div class="w-full px-10 py-5">
        <div class="w-full flex items-center justify-center md:justify-start">
            <img class="w-20 h-20 rounded-full bg-cover" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="photo-profile">
            <div class="w-auto ml-5">
                <span class="block text-xl font-bold text-black dark:text-white">Paco Sotelo De La Rosa</span>
                <span class="block text-md font-semibold text-black dark:text-white">paco.sotelo{{ '@' }}gmail.com</span>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
        <div class="col-span-1">
            <div class="p-4 rounded-lg bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-700">
                <div class="w-full mb-2 flex items-center justify-between text-black dark:text-white">
                    <mat-icon>person</mat-icon>
                    <mat-icon>check</mat-icon>
                </div>
                <span class="block mb-1 text-base font-semibold text-black dark:text-white">{{ 'profile.PERSONAL_INFORMATION' | transloco  }}</span>
                <span class="block text-base font-normal text-black dark:text-white">{{ 'profile.PERSONAL_INFORMATION_DESCRIPTION' | transloco  }}</span>
            </div>
        </div>
        <div class="col-span-1">
            <div class="p-4 rounded-lg bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-700">
                <div class="w-full mb-2 flex items-center justify-between text-black dark:text-white">
                    <mat-icon>lock</mat-icon>
                    <mat-icon>check</mat-icon>
                </div>
                <span class="block mb-1 text-base font-semibold text-black dark:text-white">{{ 'profile.SECURITY' | transloco  }}</span>
                <span class="block text-base font-normal text-black dark:text-white">{{ 'profile.SECURITY_DESCRIPTION' | transloco  }}</span>
            </div>
        </div>
        <div class="col-span-1">
            <div class="p-4 rounded-lg bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-700">
                <div class="w-full mb-2 flex items-center justify-between text-black dark:text-white">
                    <mat-icon>person</mat-icon>
                    <mat-icon>warning</mat-icon>
                </div>
                <span class="block mb-1 text-base font-semibold text-black dark:text-white">{{ 'profile.ACCOUNT_DATA' | transloco  }}</span>
                <span class="block text-base font-normal text-black dark:text-white">{{ 'profile.ACCOUNT_DATA_DESCRIPTION' | transloco  }}</span>
            </div>
        </div>
        <div class="col-span-1">
            <div class="p-4 rounded-lg bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-700">
                <div class="w-full mb-2 flex items-center justify-between text-black dark:text-white">
                    <mat-icon>map</mat-icon>
                    <mat-icon>warning</mat-icon>
                </div>
                <span class="block mb-1 text-base font-semibold text-black dark:text-white">{{ 'profile.DIRECCION' | transloco  }}</span>
                <span class="block text-base font-normal text-black dark:text-white">{{ 'profile.DIRECCION_DESCRIPTION' | transloco  }}</span>
            </div>
        </div>
        <div class="col-span-1">
            <div class="p-4 rounded-lg bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-700">
                <div class="w-full mb-2 flex items-center justify-between text-black dark:text-white">
                    <mat-icon>phone</mat-icon>
                    <mat-icon>check</mat-icon>
                </div>
                <span class="block mb-1 text-base font-semibold text-black dark:text-white">{{ 'profile.PRIVACY' | transloco  }}</span>
                <span class="block text-base font-normal text-black dark:text-white">{{ 'profile.PRIVACY_DESCRIPTION' | transloco  }}</span>
            </div>
        </div>
        <div class="col-span-1">
            <div class="p-4 rounded-lg bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-700">
                <div class="w-full mb-2 flex items-center justify-between text-black dark:text-white">
                    <mat-icon>payment</mat-icon>
                    <mat-icon>check</mat-icon>
                </div>
                <span class="block mb-1 text-base font-semibold text-black dark:text-white">{{ 'profile.CARDS_PAYMENT' | transloco  }}</span>
                <span class="block text-base font-normal text-black dark:text-white">{{ 'profile.CARDS_PAYMENT_DESCRIPTION' | transloco  }}</span>
            </div>
        </div>
    </div>
</div>
